.card {
  background-color: rgba(247, 243, 227, 0.027);
  width: 55vw;
  height: 60vh;
  margin-top: 2%;
  padding: 2%;
  color: #F7F3E3;
  border-radius: 7px;
  font-family: 'Xanh Mono', monospace;
  overflow: scroll;
}

.card a {
  color: #F7F3E3;
}
